body {
  background-color: #0f0f0f;
}

#wholeContainer {
  display: flex;
  flex-direction: column;
  background-color: #blue;
  margin: 0 auto;
  padding: 20px 0px;
  width: 80%;
  background-color: #efefef;
}

.containerOne {
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
  border: 2px solid #0f0f0f;
  border-radius: 4px;
  box-shadow: 7px 6px 13px 0px rgba(50, 50, 50, 0.67);
  padding: 0 20px;
  clear: both;
}
.containerOne h4, p {
  text-align: left;
}
#list {
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 10%;
}
ul {
  list-style-type: none;
}
#list li {
  padding-top: 1.5em;
}
a:link {
  text-decoration: none;
}
a:hover {
  font-size: 120%;
  color: red;
}

footer {
  background-color: #fff;
  width: 80%;
  position:relative;
  bottom:0;
  margin: 5px auto;
  padding: 10px 0 10px;
}
footer p {
  text-align: right;
  margin-right: 5%;
}
.menu {
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    top: 0;
    margin: -10px 8em 10px auto;
}
nav {
    max-width: 100%;
    margin: 2px auto;
}
nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin: 0 auto;
}

nav li, #portfolioPort {
    font-size: 1.1em;
    line-height: 1.1em;
    float: right;
    margin: 5px 10px;
    padding: 0px 5px;
    flex-direction: row-reverse;
    text-align: center;
    background-color: #dfdfdf;
    width: 5em;
    max-width: 100%;
    border: 2px solid #0f0f0f;
    border-radius: 4px;
    box-shadow: 7px 6px 13px 0px rgba(50, 50, 50, 0.67);
    z-index: 2;
  }
}

    nav li a {
        list-style-type: none;
        line-height: 1em;
        display: block;
        color: #195a66;
        text-align: center;
        text-decoration: none;
        margin-right: 1.2em;
    }

        nav li a:hover {
            font-size: 1.2em;
            color: #202020;
            text-shadow: 1px 2px 2px #efefef;
        }

        nav li a:active {
            font-size: 1em;
            color: #202020;
            text-shadow: 1px 2px 2px #efefef;
        }
#portfolio {
  text-align: center;
  background-color: #dfdfdf;
  margin: 5px 12% 0;
  width: 80px;
  border: 2px solid #0f0f0f;
  border-radius: 4px;
  box-shadow: 7px 6px 13px 0px rgba(50, 50, 50, 0.67);
  z-index: 2;
}

#portFrame {
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 90%;
  border: 2px solid #0f0f0f;
  border-radius: 4px;
  box-shadow: 7px 6px 13px 0px rgba(50, 50, 50, 0.67);
  padding: 0 20px;
  clear: both;
}


.containerTwo {
  width: 80%;
  margin: 0 auto;
}
.containerThree {
  width: 80%;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
