body {
    max-width: 100%;
    background: url(https://lpcowq.bn.files.1drv.com/y4mDKlxyjG7VS3eO9DcfVbIzwMSYPiV3vIbqRwZJixr-fzL9uzqYPxGZH6zjcY18Q3rzbQbZQ9BIIxSX7ZELKMV-F8J7DDvMILhF8rsJK2jRac7X_W1VuRxwFLv2QdpBJOXHGFiFYq4mXCkTKz85DF4-F0u_44Ln8BWwbB_ogXJbGcooxeVr1yLRnsDRCJe3B2M3JXSFSkJy9-3Rrc30N50Ug?width=1366&height=768&cropmode=none)no-repeat right fixed; 
    background-size: cover;
}
p, .selectedMissionContainer > h3,div {
    color: #fff;
}

/* Load Screen Style */
div#load_screen {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    opacity: 0.98;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2000px;
    padding-top: 100px;
}
div#load_screen > div#loading {
    color: #fff;
    max-width: 25%;
    height: 24px;
    margin: 0 auto;  
}
div#loading {
    margin-bottom: 50px;
    font-size: 2em;
}
div.loader {
    border: 50%;
    border-radius: 50%;
    border-top: 16px solid #40798c;
    margin: 100px auto ;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

/* Main Menu View Style */
#containerMainMenu {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

#title {
font-size: 2em;
margin: 25% auto auto;
text-align: center;
}
button {
height: 4em;
width: 25%; 
}

/* Spinning Globe Style */
#spinningGlobe {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.earth {
    width: 300px;
    height: 300px;
    position: fixed;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0; 
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
  }
  .earth:after {
    position: fixed;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: -20px -20px 50px 2px #000 inset;
    border-radius: 50%;
  }
  .earth > div {
    width: 400%;
    height: 100%;
    animation: slide 2s linear infinite;
    background: url(https://npfrka.bn.files.1drv.com/y4mBTnJpTqpQ9WoG3l9NbE9FcOn7PU0JfFVSTk-PZt9tNIbZFyq7727KSqel1L5P40sIJJSygBf2_TGc6beTtOtE5Th8-Xhcqh2-uwSdRAbDkJSLD24UlfGBPb-GQ3KBjca7FPI4c6ILNtCu1Di6L2XeJCVqvBa9zMbTVpaFx3UpwuptdhfItGX6MxnrJ4q8XrsvWIFZrZ9F6GMGgR-X3SKrg?width=16200&height=2700&cropmode=none);
    /*orginal image at https://www.pexels.com/photo/black-green-brown-continent-87652/ */
    background-size: cover;
  }
  @keyframes slide {
      to {transform: translateX(-50%);}   
  }
  #textInstruction {
    font-size: 2em;
    text-align: center;
    margin: 10% auto;
    color: #1e2806;
  }

/* Mission Tag */
#nameTagScreen {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
#tagContainer {
    margin: 10px auto;
    width: 50%;
}
#blackTag1 {
    background: #000;
    max-width: 600px;
    height: 300px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#blackTag2 {
    background: #000;
    max-width: 500px;
    height: 250px;
    padding: 20px;
}
.formContent {
    color: white;
    margin-left: 15px;
}
.formContent input {
    color: black;
}
#tagButton {
    margin-left: 15px;
    width: 6em;
}
#genderDiv, #nameDiv {
    margin: 15px auto;
}
#tagLine, #tagName {
    color: white;
    text-align: center;
    margin-top: -25px;
    font-family: 'Playfair Display', serif;
}
#tagName {
    margin: 0 auto 3em;
}

/* Mission Map */
#missionMapScreen {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
#map {
    height: 400px; 
    width: 100%; 
}
.embed-container { 
    position: relative;
    margin-top: 25px; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    } 
.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
}